<div
  style="width: 80px; height: 40px; background-color: #ccc"
  [@basic]="basicState"

  (mousedown)="changeState('active')"
  (mouseup)="changeState('inactive')"
  (mouseenter)="changeState('middle')"
>Click me</div>

<hr>
<div style="width: 80px; height: 40px; background-color: #ccc"
  [@multi]="multiState"
  (mousedown)="multiState = 'end'"
  (mouseup)="multiState = 'start'">click me</div>

<hr>
<div style="width: 80px; height: 40px; background-color: #ccc"
     [@group]="groupState"
     (mousedown)="groupState = 'end'"
     (mouseup)="groupState = 'start'">click me</div>
<hr>
<div style="width: 80px; height: 80px; background-color: #ccc"
     [@keyframe]="frameState"
     (mousedown)="frameState = 'end'"
     (mouseup)="frameState = 'start'">click me</div>
